:root {
  --primary-color: #f8f2ff;
  --secondary-color: #af49ff;
  --third-color: #5d87a8;
  --fourth-color: #e7eff4;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --box-shadow: 0px 0px 47px 15px rgba(0, 0, 0, 0.2);
}
/* index page */

.hero {
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    rgba(250, 250, 250, 0) 100%
  );
  padding: 160px 20px;
}
.profile-pic {
  display: block;
  margin: 0 auto;
  width: 200px;
}
h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  text-align: center;
  font-size: 96px;
}
.hero h2 {
  font-family: var(--primary-font);
  text-align: center;
  line-height: 2;
}
h3 {
  font-family: var(--secondary-font);
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.navigation-links {
  display: flex;
  flex: 1;
  margin-top: 20px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  transition: all 1ms ease-in-out;
}

.navigation-links a:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: white;
}
hr {
  width: 500px;
  display: block;
  margin: 60px auto;
  height: 5px !important;
  background-color: var(--third-color);
}

.description p {
  margin: 40px 60px;
  text-align: center;
  font-size: 24px;
}

.shecodes {
  text-decoration: none;
  color: var(--secondary-color);
}

.project-dscription h2 {
  font-family: var(--primary-font);
  font-size: 64px;
  font-weight: bold;
  text-align: left;
}

.project-dscription p {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: bold;
}

.project-links {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid var(--third-color);
  background-color: white;
  transition: all 1ms ease-in-out;
  color: var(--third-color);
}
.project-links:hover {
  border: 1px solid var(--third-color);
  background-color: var(--third-color);
}
.project-img {
  box-shadow: var(--box-shadow);
}

/* about me page */

.container.intro {
  max-width: 80%;
  padding: 160px 20px 20px;
}

.container.intro.work h1,
.about-me.description h1,
.about-me.description h3 {
  text-align: left;
  font-size: 64px;
  font-family: var(--primary-font);
}

.about-me.description h2 {
  text-align: left;
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: bold;
}

.about-me.description p {
  text-align: left;
  font-size: 18px;
  font-family: var(--secondary-font);
  margin: 0;
}

.about-me.img {
  width: 460px;
}

/* work page */
.card-title {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: bold;
}
.card-text {
  text-align: center;
  font-family: var(--secondary-font);
}
.card {
  display: block;
  margin: 0 auto;
}

.netlify-link {
  display: flex;
  justify-content: center;
  border: var(--third-color);
  background-color: var(--third-color);
  text-transform: capitalize;
}
.card-img-overlay {
  opacity: 0;
  color: black;
  transition: all 4ms ease-in-out;
}
.card-img-overlay:hover {
  opacity: 1;
  background-color: #e7eff4ef;
}
/* media queries */
@media (max-width: 1200px) {
  h1,
  .about-me.description h1,
  .container.intro.work h1 {
    font-size: 48px;
  }
  h2,
  h3,
  .about-me.description h3 {
    font-size: 24px;
  }
  hr {
    display: none;
  }
  .navigation-links a,
  .card-img-overlay {
    font-size: 14px;
  }
  .project-dscription,
  .about-me.description h1,
  .about-me.description h2,
  .about-me.description h3 {
    text-align: center;
  }
  .project-dscription h2 {
    text-align: center;
    font-size: 34px;
  }
  .project-links {
    display: flex;
    justify-content: center;
  }
  .about-me.img {
    display: block;
    margin: 0 auto;
  }
  .about-me.description p {
    text-align: center;
    margin-right: 0 !important;
  }
}
